* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
  color: #ecf0f1;
}

.container {
  height: 100%;
  margin: 0 auto;
  background: #2c3e50;
}

h2 {
  text-align: center;
  border-bottom: 5px solid #ffa817;
  padding: 10px;
}

#input_section {
  margin-top: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

input, button {
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  padding: 5px;
}

#button_apply {
  background: #ffa817;
  width: 10%;
}

#nums_input {
  background: #ecf0f1;
  width: 80%;
  margin-left: 2.5%;
}

#button_apply {
  margin-left: 2.5%;
}

#execution_section, #error_message {
  display: none;
}

#execution_section {
  margin-top: 20px;
  width: 100%;
}
